{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": [".eslintrc", ".huskyrc", ".lintstagedrc", ".prettierrc", ".stylelintrc"],
      "options": { "parser": "json" }
    }
  ]
}
