@import 'main';

$bxGray: #8d8d8d;

.bx--btn--secondary:focus,
.bx--header__menu-item:focus {
  border-color: transparent !important;
}

.bx--btn--secondary:focus {
  box-shadow: none !important;
}

.bx--search-input:focus,
.bx--text-input:focus {
  border-bottom: 1px solid transparent !important;
  outline: 1px solid $bxGray !important;
}
