$main: #39a1e7;
$secondary: #3292d3;

// main
main {
  width: 50%;
  margin: 50px auto;
  padding: 30px;
}

// nav buttons
button {
  cursor: pointer;
  outline: 0;
  width: 40%;
  border-radius: 2px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
  border: 1px solid $secondary;
  background: $main;
  color: #fff;
  padding: 10px;
  margin: 0 5%;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: darken($main, 10%);
    /* border-color: darken(#1c79b8, 5%); */
  }
}

// loading indicator
.loading-indicator {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  span {
    display: block;
  }

  &-progress {
    background: #1c79b8;
    color: #fff;
    padding: 2px;
    width: 0;
  }
}
